@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* border: 1px solid red; */
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow: auto;
  margin-bottom: 60px;
  background:linear-gradient(to left,#152331,#000000);
}
.table-wrapper {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter {
  /* border: 1px solid white; */
  width: 750px;
  display: flex;
  align-items: center;
}
/* ===== FORM ===== */
.form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 40px;
  margin: 20px 0px 40px;
  border-radius: 10px;
  background:linear-gradient(#2a3f53,#22384f);
}
.title {
  /* border: 1px solid; */
  color: white;
  display: none;
}
h2 {
  color: #fff;
  text-align: center;
}

input,
button,
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  margin-top: 15px;
}

::placeholder,
select {
  color: black;
}

/* Button */
#btn {
  margin: 5px auto 0;
  width: 40%;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 2px #4b6e91;
  background: linear-gradient(to left, #284560,#4b6e91);
  transition: 0.8s;
}

button:hover {
  background: linear-gradient(to left, #2a3f53,#000000);
}
.summary-box {
  padding: 15px 40px;
 background:linear-gradient(#2a3f53,#22384f);
  box-shadow: 1px 1px 2px;
  border-radius: 10px;
  color: white;
  width: 420px;
  line-height: 1.8;
  margin: 40px 0px 60px;
  height: 170px;
}
.summary-box:hover {
  box-shadow: 1px 1px 15px rgb(161, 203, 161);
}

.summary-box h3 {
  margin-bottom: 10px;
}

#totalIncomeDisplay {
  color: rgb(234, 221, 221);
  font-weight: bold;
}

#totalExpenseDisplay {
  color: white;
  font-weight: bold;
}

#balanceDisplay {
  color: rgb(234, 221, 221);
  font-weight: bold;
}
/* Error Text */
.err {
  color: rgb(236, 71, 71);
  font-size: 0.75rem;
  margin-top: -10px;
  padding-left: 6px;
}
#print-btn {
  /* border :1px solid red; */
  height: 38px;
  margin: 0px 10px;
  width: 120px;
  padding-bottom: 10px;
  background: linear-gradient(to left, #284560,#4b6e91);
  color: white;
}

/* ===== TABLE ===== */

th,
td {
  border: 1px solid #ccc;
  padding: 12px 16px;
  text-align: center;
  font-size: 0.9rem;
}
table {
  /* border: 10px solid rgb(214, 29, 29); */
  margin-top: 10px;
  width: 750px;
  border-collapse: collapse;
}

th {
  background:linear-gradient(#2a3f53,#22384f);
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}
span {
  /* border: 1px solid; */
  color: black;
  text-align: start;
  align-items: end;
}

/* print */
@media print {
  body {
    margin: 0;
  }
  .title {
    display: flex;
    margin-top: 30px;
  }
  .form {
    display: none;
  }
  .filter {
    display: none;
  }
  table {
    width: 90%;
  }
  .summary-box {
    border: 1px solid rgba(0, 0, 0, 0.47);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .form {
    width: 70%;
  }
  .filter {
    width: 90%;
  }
  table {
    width: 90%;
  }
  .summary-box {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .table-wrapper {
    overflow-x: auto; /* important for table */
  }

  .form {
    width: 90%;
    padding: 20px;
    margin-left: 0px;
  }

  .filter {
    width: 90%;
  }
  .filter select {
    height: 38px;
  }
  table {
    min-width: 0px;
    margin: 0px 10px 0px 100px;
    font-size: 0.8rem;
  }
  .income-cell {
    font-size: 14px !important;
  }

  .expense-cell {
    font-size: 14px !important;
  }
  .summary-box {
    width: 80%;
  }
}
